# Python Einführung

## Erste Anweisung

In [5]:
# Dies ist ein Kommentar
print("Hello World!!")

Hello World!!

## Datentypen

In [6]:
# Variablen
name = "Lovelace"
print(name)

Lovelace

In [7]:
name

'Lovelace'

In [8]:
first_name = "Ada"

In [10]:
print(first_name + " " + name)

Ada Lovelace

In [11]:
# Integer
age = 73
print(age)

73

In [13]:
# Float
height = 1.73

In [15]:
# Boolean
knows_math = True
print(knows_math)

True

In [17]:
type(height)

float

## Operatoren

In [18]:
5 + 6

11

In [19]:
age * 100

7300

In [20]:
name * 10

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [21]:
height/age

0.023698630136986303

In [28]:
number_of_articles = "50"

In [29]:
int(number_of_articles) / 10

5.0

## Funktionen & Methoden

In [30]:
len(name)

8

In [31]:
name.upper() #methode

'LOVELACE'

In [32]:
name.lower()

'lovelace'

In [33]:
name.count("e") #zählt Anzahl e in Variable Name

2

In [37]:
name.lower().count("l")

2

In [39]:
name.replace("lace"," is everywhere")

'Love is everywhere'

In [40]:
name

'Lovelace'

In [43]:
int(str(age).replace("73","10")) #replace nur bei str möglich, daher int in str umwandeln für replace und dann wieder als int

10

## Listen & Dictionaries

In [53]:
names[1:3]

['Awram', 'Curie']

In [54]:
names[:-1]

['Lovelace', 'Awram', 'Curie']

In [55]:
names[-1]

'Turing'

In [58]:
authors_and_birth_year = {"Lovelace" : 1882, 
                          "Awram" : 1908, 
                          "Darwin" : 1809, 
                          "Hawking" : 1942}

In [59]:
authors_and_birth_year["Lovelace"]

1882

In [60]:
%who

age	 authors_and_birth_year	 first_name	 height	 knowa_math	 knows_math	 name	 names	 number_of_articels
number_of_articles

In [46]:
names = ["Lovelace", "Awram", "Curie", "Turing"]

In [62]:
for person in names:
    print(person + " did awesome stuff.")

Lovelace did awesome stuff.
Awram did awesome stuff.
Curie did awesome stuff.
Turing did awesome stuff.

In [63]:
names

['Lovelace', 'Awram', 'Curie', 'Turing']

In [64]:
person #gibt letztes Listenelement aus, da dieses zuletzt durch die ForLoop iteriert ist und somit als person definiert ist

'Turing'

## Conditionals

In [70]:
temp = 20
if temp > 21:
    print(temp)
elif temp < 21:
    print("kalt")

kalt

In [75]:
temp = 14
if temp > 15:
    print("es ist warm")
elif temp == 15:
    print("okay")
else:
    print("es ist kalt")

es ist kalt